@import '../../SASS/_settings';

#home_presentation{
    width: 100%;
    height: 100vh;
    min-height: clamp(300px, calc(300px + calc((1000 - 300) / (1440 - 320)) * (100vw - 300px)), 1000px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: clamp(20px, calc(20px + calc((30 - 20) / (1440 - 320)) * (100vw - 20px)), 30px);
    padding-top: clamp(70px, calc(70px + calc((100 - 70) / (1440 - 320)) * (100vw - 70px)), 100px);
    img{
        width: clamp(150px, calc(150px + calc((400 - 150) / (1440 - 320)) * (100vw - 150px)), 400px);
        height: clamp(150px, calc(150px + calc((400 - 150) / (1440 - 320)) * (100vw - 150px)), 400px);
        border-radius: 50%;
        margin-bottom: 20px;
        border-style: solid ;
        border-width: clamp(2px, calc(2px + calc((5 - 2) / (1440 - 320)) * (100vw - 2px)), 5px);
        object-fit: cover;
    }
    .home-title-container{
        width: clamp(320px, calc(320px + calc((1200 - 320) / (1440 - 320)) * (100vw - 320px)), 1200px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            text-align: center;
            @include fluid-type(320px, 1440px, 30px, 70px);
            font-family: $font-logo-prenom;
            
        }
        h2{
            text-align: center;
            @include fluid-type(320px, 1440px, 20px, 50px);
            font-family: $font-logo-nom;
            .deco_presentation{
                width: 100%;
                height: 50px;
                border-radius: 50%;
                transform: rotate3d(1, -0.62, 0.5, 90deg);
            }
        }
        &>div{
            margin-top: 30px;
            width: 90%;
            height: 30px;
            border-radius: 50%;
            opacity: 0.7;
        }
    }
}

////////////////// DARK / LIGHT //////////

#home_presentation{
    &.light{
        background-color: $BG1-LIGHT;
        img{
            border-color: $COLOR-LIGHT;
        }
        .home-title-container{
            h1{
                color: $COLOR-ACTIVE;
                ;
            }
            h2{
                color: $COLOR-LIGHT;
            }
            &>div{
                background-color: $COLOR-LIGHT-LIGHTEST;
            }
        }
    }
    &.dark{
        background-color: $BG1-DARK;
        img{
            border-color: $COLOR-DARK;
        }
        .home-title-container{
            h1{
                color: $COLOR-ACTIVE;
                ;
            }
            h2{
                color: $COLOR-DARK;
            }
            &>div{
                background-color: $COLOR-DARK-DARKEST;
            }
        }
    }
}

