@import "_settings.scss";



/////////////////////////// Header ///////////////////////

@import "../components/Header/Header.scss";

/////////////////////////// Burger Menu ///////////////////////

@import "../components/Expertise/expertise.scss";

/////////////////////////// Presentation ///////////////////////

@import "../components/Presentation/Presentation.scss";

/////////////////////////// Expertise ///////////////////////

@import "../components/Expertise/expertise.scss";

/////////////////////////// Experience ///////////////////////

@import "../components/Experience/ExperienceCollapse/experience.scss";

/////////////////////////// PROJETS ///////////////////////

#works-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 15px;
    
}

/////////////////////////// Personnel section ///////////////////////

@import "../components/Work/Personnal/Personnal.scss";


/////////////////////////// Filter ///////////////////////

#works_projets_list_container{
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

@import "../components/Work/Filter/filter.scss";

///////////////////////// Project card /////////////////////


@import "../components/Work/workCard/workCard.scss";

/////////////////////////// Avis ///////////////////////

@import "../components/Contact/Avis/Avis.scss";

/////////////////////////// Form ///////////////////////

@import "../components/Contact/Form/Form.scss";

/////////////////////////// Bouton to Top ///////////////////////

@import "../components/ChevronToUp/BoutonToUp.scss";


/////////////////////////// CONTACT ///////////////////////

#home_contact{
    display: flex;
    flex-direction:column-reverse;
    padding-bottom: 100px;
    #contact-zone{
        padding: 20px ;
    }
}

/////////////////////////// ADRESS ///////////////////////

#contact-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    &>h5{
        @include fluid-type(320px, 1440px, 20px, 28px);
        padding-bottom: 20px;
    }
    &>p{
        @include fluid-type(320px, 1440px, 16px, 22px);
    
    }
}

#contact-lien{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .contact_lien-container{
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        &>a{
            background-color: red;
            border-radius: 20px;
            padding: 10px;
            width:30%;
            height: 100%;
            text-align: center;
        }
        
    }
}

/////////////////////////// AVIS ///////////////////////

@import "./media.scss";