///// MIXINS /////

@mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

	font-size: $min-value; // Fallback for older browsers
	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}

@mixin fluid-bottom($min-vw, $max-vw, $min-value, $max-value) {
	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

	bottom: $min-value; // Fallback for older browsers
	bottom: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
}



/////// H1 ///////

$H1-font-size: clamp(2.5rem, calc(2.5rem + calc((3 - 2.5) / (1440 - 320)) * (100vw - 2.5rem)), 3rem);
/////// H2 ///////

$H2-font-size: clamp(1.7rem, calc(1.7rem + calc((2 - 1.7) / (1440 - 320)) * (100vw - 1.7rem)),2rem);
/////// H3 ///////

$H3-font-size: 1.75rem;
/////// H4 ///////

$H4-font-size: 1.5rem;
/////// PARAGRAPHE OPTION 1 ///////

$P-font-size: clamp(12px, calc(12px + calc((16 - 12) / (1440 - 320)) * (100vw - 12px)), 16px);
/////// PARAGRAPHE OPTION 2 ///////

$P-font-size: clamp(12px, calc(12px + calc((16 - 12) / (1440 - 320)) * (100vw - 12px)), 16px);
/////// SPAN ///////
$SPAN-font-size: 1.5rem;


/////// BG ///////

$BG1-LIGHT: #d3e2e5;
$BG1-DARK: #1A191D;
$BG2-LIGHT: #b6bdbe;
$BG2-DARK: #141E26;



/////// COLORS /////////

// DARK VARIATION
$COLOR-DARK: #D7D7D9;
$COLOR-DARK-DARK: #A3A3A7;
$COLOR-DARK-DARKEST: #808086;


// LIGHT VARIATION
$COLOR-LIGHT: #141E26;
$COLOR-LIGHT-LIGHT: #314A5E;
$COLOR-LIGHT-LIGHTEST: #496D8A;


// ACTIVE VARIATION
$COLOR-ACTIVE: orange;
$COLOR-ACTIVE-UNSELECTED: orange;

/// PURPLE VARIATION /////
$COLOR-PURPLE: #9b37ff;
$COLOR-PURPLE-DARK: rgba(73, 12, 134, 0.8705882353);
$COLOR-PURPLE-DARKEST: #241d41;




.button{
    border-radius: 15px;
    border: none;
    padding-top: clamp(2px, calc(2px + calc((10 - 2) / (1440 - 320)) * (100vw - 2px)), 10px);
    padding-bottom: clamp(2px, calc(2px + calc((10 - 2) / (1440 - 320)) * (100vw - 2px)), 10px);
    padding-left: clamp(5px, calc(5px + calc((20 - 5) / (1440 - 320)) * (100vw - 5px)), 20px);
    padding-right: clamp(5px, calc(5px + calc((20 - 5) / (1440 - 320)) * (100vw - 5px)), 20px);
    transform: scale(1);
    transition: 0.3s ease-out;
    white-space: nowrap;
    text-align: center;
    &:hover{
        border-width: 2px;
        border-style: solid;
        transform: scale(1.1);
        }
}


///////////// TYPOGRAPHY /////////////
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-logo-prenom: 'Titillium', sans-serif;
$font-logo-nom: 'Nunito', sans-serif;
$font-logo-dotdev: 'Abel', sans-serif;


*{
    width: 100%;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}
html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
body{
    min-width: 320px;
    min-height: 100vh;
    width:100%;
}



a{
    font-weight: 500;
    text-decoration: none;
}

/////////// ANIMATION ////


@keyframes scaleImageWork {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
@keyframes MenuOpen {
    0%{
        transform: translateY(-300%);
    }
    50%{
        transform: translateY(-50%);
    }
    60%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes MenuClose {
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    50%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(-300%);
    }
}


