@import "../../../SASS/_settings";
/////////////////////////// FORMULAIRE ///////////////////////

#contact_lien-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-lien_form-title{
        @include fluid-type(320px, 1440px, 20px, 28px);
        padding-bottom: 20px;
    }
    .contact_form-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        .contact_form-label{
            @include fluid-type(320px, 1440px, 16px, 22px);
            padding: 10px 0px;
        }
        .contact_form-input{
            padding: 5px;
            border-radius: 5px;
            border-style: dashed;
            border-width: 1px;
        }
        &>textarea{
            height: 100px;
            margin-bottom: 15px;
        }
        .contact_form-button{
            width: 50%;
            height: 100%;
            border-style: solid;
            border-width: 1px;
        }
    }
}

