@import "../../../SASS/_settings";
/////////////////////////// FORMULAIRE ///////////////////////


#contact_lien-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-lien_form-title{
        @include fluid-type(320px, 1440px, 20px, 28px);
        padding-bottom: 20px;
    }
    .contact_form-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        .contact_form-label{
            @include fluid-type(320px, 1440px, 16px, 22px);
            padding: 10px 0px;
        }
        .contact_form-input{
            padding: 25px;
            border-radius: 5px;
            border: none;
            &.form_input-height{
                height: 10px;
            }
            &:focus-visible{
                outline-width: 2px;
                outline-style: solid;
                outline-color: $COLOR-ACTIVE;
            }
            &>textarea{
                height: 100px;
            }

        }
        .contact_form-button{
            margin-top: 30px;
            width: 50%;
            height: 100%;
            border-style: solid;
            border-width: 1px;
        }
    }
}


/////////////////////////// DARK / LIGHT ///////////////////////

#home_contact{
    &.light{
        #contact_lien-form{
            .contact_form-form{
                color: $COLOR-LIGHT;
                .contact_form-label{
                    color: $COLOR-LIGHT;
                }
                .contact_form-input{
                    background-color: white;
                    color: $COLOR-LIGHT;
                }
                .contact_form-button{
                    background-color: $COLOR-LIGHT;
                    color: $COLOR-DARK;
                    border-color: $COLOR-LIGHT;
                    &:hover{
                        background-color: $COLOR-LIGHT;
                        color: $COLOR-DARK;
                        border-color: $COLOR-LIGHT;
                    }
                }
            }
        }
    }
    &.dark{
        #contact_lien-form{
            .contact_form-form{
                color: $COLOR-DARK;
                .contact_form-label{
                    color: $COLOR-DARK;
                }
                .contact_form-input{
                    background-color: $COLOR-DARK;
                    color: $COLOR-LIGHT;
                }
                .contact_form-button{
                    background-color: $COLOR-DARK;
                    color: $COLOR-LIGHT;
                    border-color: $COLOR-DARK;
                    &:hover{
                        background-color: $COLOR-DARK;
                        color: $COLOR-LIGHT;
                        border-color: $COLOR-DARK;
                    }
                }
            }
        }
    }
}