@import "../../../SASS/_settings";
/////////////////////////// FORMULAIRE ///////////////////////

@keyframes messageSpawn {
    0%{
        transform: scale(0.7);
        opacity: 0;
    }
    85%{
        transform: scale(1.05);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}
@keyframes messageDespawn {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    15%{
        transform: scale(1.05);
        opacity: 1;
    }
    100%{
        transform: scale(0.6);
        opacity: 0;
    }
    
}

#contact_lien-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-lien_form-title{
        @include fluid-type(320px, 1440px, 20px, 28px);
        padding-bottom: 20px;
    }
    .contact_form-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        position: relative;
        .contact_form-label{
            @include fluid-type(320px, 1440px, 16px, 22px);
            padding: 10px 0px;
        }
        .contact_form-input{
            padding: 25px;
            border-radius: 5px;
            border: none;
            &.form_input-height{
                height: 10px;
            }
            &:focus-visible{
                outline-width: 2px;
                outline-style: solid;
                outline-color: $COLOR-ACTIVE;
            }
            &>textarea{
                height: 100px;
            }

        }
        .contact_form-button{
            margin-top: 30px;
            width: 50%;
            height: 100%;
            border-style: solid;
            border-width: 1px;
        }
        .contact_form-send{
            position: absolute;
            width: 250px;
            height: auto;
            bottom: 50%;
            padding: 8px 16px;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            &.hide{
                animation: messageDespawn 0.3s forwards ease-out;
            }
            &.active{
                animation: messageSpawn 0.3s forwards ease-out;
            }
        }
    }
}



/////////////////////////// DARK / LIGHT ///////////////////////

#home_contact{
    &.light{
        #contact_lien-form{
            .contact_form-form{
                color: $COLOR-LIGHT;
                .contact_form-label{
                    color: $COLOR-LIGHT;
                }
                .contact_form-input{
                    background-color: white;
                    color: $COLOR-LIGHT;
                }
                .contact_form-button{
                    background-color: $COLOR-LIGHT;
                    color: $COLOR-DARK;
                    border-color: $COLOR-LIGHT;
                    &:hover{
                        background-color: $COLOR-LIGHT;
                        color: $COLOR-DARK;
                        border-color: $COLOR-LIGHT;
                    }
                }
                .contact_form-send{
                    background-color: $COLOR-DARK-DARK;
                    color: $COLOR-LIGHT;
                    border-color: $COLOR-DARK;
                }
            }
        }
    }
    &.dark{
        #contact_lien-form{
            .contact_form-form{
                color: $COLOR-DARK;
                .contact_form-label{
                    color: $COLOR-DARK;
                }
                .contact_form-input{
                    background-color: $COLOR-DARK;
                    color: $COLOR-LIGHT;
                }
                .contact_form-button{
                    background-color: $COLOR-DARK;
                    color: $COLOR-LIGHT;
                    border-color: $COLOR-DARK;
                    &:hover{
                        background-color: $COLOR-DARK;
                        color: $COLOR-LIGHT;
                        border-color: $COLOR-DARK;
                    }
                }
                .contact_form-send{
                    background-color: $COLOR-LIGHT-LIGHT;
                    color: $COLOR-DARK;
                    border-color: $COLOR-LIGHT-LIGHT;
                }
            }
        }
    }
}