@import '../../../SASS/settings';


/////////////////////// PERSONNAL ///////////////////////

#works_personnal_container{
    width: 100%;
    padding-top: clamp(50px, calc(50px + calc((80 - 50) / (1440 - 320)) * (100vw - 50px)), 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #works_personnal_text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        #works_personnal_text_title{
            font-family: $font-title;
            padding: 10px 0px;
            text-align: center;
        }
        #works_personnal_text_p{
            @include fluid-type(320px, 1024px, 14px, 20px);
            font-family: $font-primary;
            text-justify: distribute;
            text-align: center;
        }
    }
    .works_personnal_content-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 40px 0px 60px 0px;
        .works_personnal-content{
            position: relative;
            height: 60vh;
            .video3D{
                width: 100%;
                height: 100%;
                padding-left: 20%;
                object-fit: cover;
                &.gif{
                    object-fit: contain;
                }
            }
            .work_personnal_content_text-container{
                width: auto;
                position: absolute;
                bottom: -12%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .work_personnal_content-text{
                    padding-left: 10px;
                    &>strong{
                        @include fluid-type(320px, 1440px, 16px, 16px);
                        white-space: nowrap;
                        margin-bottom: 15px;
                    }
                    &>h4{
                        @include fluid-type(320px, 1440px, 20px, 32px);
                        white-space: nowrap;
                        margin-bottom: 15px;
                    }
                    .work_personnal_content-fleche{
                        width: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 100%;
                            height: 40px;
                            margin: 40% 0px 0px 10%;
                            &>path{
                                stroke-width: 2px;
                                transform: scale(0.2);
                            }
                        }
                    }
                }
                &>a{
                    padding: 8px 24px;
                    width: 200px;
                    border-radius: 3px;
                    border: none;
                    background-color: $COLOR-PURPLE;
                    color: $COLOR-DARK;
                    @include fluid-type(320px, 1440px, 20px, 32px);
                    transform: scale(1);
                    transition: all 0.2s ease-out;
                    &:visited{
                        color:$COLOR-DARK;
                    };
                    &:hover{
                        opacity: 0.8;
                        color:$COLOR-DARK;
                    }
                    &:focus{
                        transform: scale(0.95);
                        transition: all 0.2s ease-out;
                    }
                }
            }
        }
    }

}


/////////////////// DARK / LIGHT //////////////////////


#home_projets{
    &.light{
        #works_personnal_text_container{
            color:$COLOR-LIGHT;
            #works_personnal_text_title{
                color:$COLOR-LIGHT;
            }
        }
        .works_personnal-content{
            .work_personnal_content-text{
                &>strong, &>h4{
                    color: $COLOR-LIGHT;
                }
                .work_personnal_content-fleche{
                    svg{
                        fill: $COLOR-LIGHT;
                        stroke: $COLOR-LIGHT-LIGHT;
                    }
                }
            }
            &>button{
                color: $COLOR-LIGHT;
            }

        }
    }
    &.dark{
        #works_personnal_text_container{
            color:$COLOR-DARK;
            #works_personnal_text_title{
                color:$COLOR-DARK;
            }
        }
        .works_personnal-content{
            .work_personnal_content-text{
                &>strong, &>h4{
                    color: $COLOR-DARK;
                }
                .work_personnal_content-fleche{
                    svg{
                        fill: $COLOR-DARK;
                        stroke: $COLOR-DARK-DARK;
                    }
                }
            }
            &>button{
                color: $COLOR-DARK;
            }
        }
    }
}
